<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>
        </layout>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>